{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}
  <div class="content-wrapper">

  </div>
  <script>
    $(function(){
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
{% endblock %}