<div style="margin:20px;">
  <p><img width="100%" src="https://images.directmedica.com/fresenius/header_email.png" /></p>
  <p>Bonjour,</p>
  <p>&nbsp;</p>
  <p align="center">Votre rendez-vous du<br/><b>{{ date_rdv }}</b><br/>est confirmé</p>
  <p>&nbsp;</p>
  <p>Afin de vous préparer à votre rendez-vous de coaching diététique, veuillez consulter la check-list qui vous est fournie par votre <b>nutritionniste</b></p>
  <br/><br/>
  <p>Pour annuler ou demander à déplacer votre rendez-vous, veuillez cliquer sur le lien suivant :</p>
  <p align="center"><a href="{{ url_modif_rdv }}">Modifier mon RDV</a></p>
  <br/><br/>
  <table width="100%" style="font-size:0.8em;">
    <tr>
      <td width="150">&nbsp;</td>
      <td style="padding:0 20px;">Copyright &copy; 2021 Dietycoach, tous droits réservés</td>
      <td>&nbsp;</td>
    </tr>
    {#<tr>
      <td>&nbsp;</td>
      <td colspan="2" style="padding:50px;"><a href="{{ url_cgu }}">Conditions générales d'utilisation</a> - <a href="{{ url_prpdp }}">Politique relative à la protection des données personnelles</a></td>
    </tr>#}
  </table>
</div>