<div style="margin:20px;">
  <p><img width="100%" src="https://images.directmedica.com/fresenius/header_email.png" /></p>
  <p>Bonjour,</p>
  <p>&nbsp;</p>
  <p align="center">Un nouveau rendez-vous Dietycoach pour le <br/><b>{{ date_rdv }}</b><br/>est réservé.</p>
  <p>&nbsp;</p>
  <p>Afin de nous mentionner l'issue de ce rendez-vous, veuillez cliquer sur le lien suivant :</p>
  <p align="center"><a href="{{ url_coach_rdv }}">Rdv Dietycoach</a></p>
  <br/><br/>
  <table width="100%" style="font-size:0.8em;">
    <tr>
      <td width="150">&nbsp;</td>
      <td style="padding:0 20px;">Copyright &copy; 2021 Dietycoach, tous droits réservés</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>