<div style="margin:20px;">
  <p><img width="100%" src="https://images.directmedica.com/fresenius/header_email.png" /></p>
  <p>Bonjour,</p>
  <p>&nbsp;</p>
  <p align="center">Vous venez de réaliser votre consultation diététique avec votre diététicien</p>
  <p>&nbsp;</p>
  Pensez à prendre votre prochain rendez-vous dès maintenant, dans le délai recommandé par votre diététicien, en cliquant ici :
  <p align="center"><a href="{{ url_home }}">Dietycoach</a></p>
  <p>&nbsp;</p>
  <p>Par ailleurs, afin de nous aider Afin de nous aider à améliorer notre qualité de service, nous vous invitons à prendre une à deux minutes pour répondre à quelques questions :</p>
  <p align="center"><a href="{{ url_satisfaction }}">Questionnaire de satisfaction</a></p>
  <br/><br/>
  <table width="100%" style="font-size:0.8em;">
    <tr>
      <td width="150">&nbsp;</td>
      <td style="padding:0 20px;">Copyright &copy; 2021 Dietycoach, tous droits réservés</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>